<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/gdui/css/gdui.min.css}" />
    <link rel="stylesheet" th:href="@{/css/validate.css}" />
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/monitorRelTime.css}" />
    <script th:src="@{/js/jquery.min.js}"></script>
</head>

<body>
    <!-- 此处是整体框架用，包括侧边栏和顶部 -->
    <div th:replace="common/topLeft :: topleftbar"></div>
    <div class="gd-right-content" id="contentDiv">
        <gd-toolbar :config="toolbarConfig"></gd-toolbar>
        <div class="table-box">
            <gd-table :config="tableConfig"></gd-table>
        </div>
    </div>
    <script th:src="@{/js/vue.min.js}"></script>
    <script th:src="@{/gdui/js/gdui.min.js}"></script>
    <script th:src="@{/js/global.js}"></script>
    <script th:src="@{/js/monitorRealTime.js}"></script>

</body>

</html>