<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldencis.osa.core.mapper.NavigationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.goldencis.osa.core.entity.Navigation">
        <id column="id" property="id" />
        <result column="compositor" property="compositor" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="parent_id" property="parentId" />
        <result column="visible" property="visible" />
        <result column="grant_visible" property="grantVisible" />
        <result column="icon" property="icon" />
        <result column="level" property="level" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, compositor, name, url, parent_id, visible, grant_visible, icon, level
    </sql>

</mapper>
