<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/remote.css}" />
</head>

<body>
    <div id="display" class="display"></div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/plugins/vue.js}"></script>
    <script th:src="@{/js/plugins/guacamole.min.js}"></script>
    <script th:src="@{/js/remote.js}"></script>
</body>

</html>