[class*=icon-] {
    font-size: 14px;
}

[class*=gd-btn].gd-btn-icon {
    line-height: 27px;
}

.user_infor_form_div {
    margin-bottom: 12px;
    height: 32px;
}

.user_infor_form .form_div {
    margin-bottom: 12px;
}

.user_infor_form div label {
    width: 110px;
    text-align: right;
    display: block;
    float: left;
    line-height: 30px;
    padding-right: 10px;
}

.user_infor_form div input {
    width: 380px;
}

.table-box {
    height: calc(100% - 56px);
}

.gd-toolbar {
    padding: 0 !important;
}

#assetDetail .gd-toolbar {
    background: #fff;
    padding: 0 20px !important;
}

.userlistBox {
    height: 100%;
    padding: 0 20px;
}

.gd-switch {
    padding: 6px 0;
}

.gd-select {
    width: 280px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-size: 14px;
}

.gd-select .gd-select-input {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.container .row input {
    width: 280px !important;
}

.container .row .gd-tree-inner label {
    margin-top: 2px;
    height: auto;
    width: auto !important
}

.container .row .gd-tree-inner span {
    line-height: 20px;
    margin-left: 0;
}

.container .row label.gd-switch {
    padding-right: 0;
    text-align: left;
    height: 18px !important;
    width: 32px !important;
}

.container .row .statusSelect label {
    margin-top: 9px;
    margin-right: 20px;
    width: auto !important;
    height: auto !important;
    line-height: 1 !important;
}

/*.container .row .statusSelect .gd-radio input+i{
    width:10px;
    height:10px;
}

.container .row .statusSelect .gd-radio input+i:after{
    width:9px;
    height:9px;
    left:1px;
    top:1px;
}*/

.bar-status-mark {
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 42px;
    border-radius: 2px;
    cursor: pointer;
}

.status-mark-normal {
    background: #25C2AA
}

.status-mark-stop {
    background: #bbb;
}

.status-mark-lock {
    background: #F5A623;
}

#addUsergroupBox .gd-textarea {
    width: 280px
}

#authorizedBox .gd-toolbar {
    background-color: #fff;
}

.nonSelect-asset {
    width: 330px;
    height: 350px;
    border: 1px solid #E7E9EF;
    float: left;
}

.nonSelect-asset .gd-tree {
    border: 0;
    height: 305px;
}

.select-asset {
    margin-left: 20px;
    width: 330px;
    height: 350px;
    border: 1px solid #E7E9EF;
    float: left;
}

.asset-select-title {
    padding-left: 20px;
    border-bottom: 1px solid #E7E9EF;
    height: 44px;
    line-height: 44px;
    background: #F7F7F9;
}

.select-asset ul {
    height: 305px;
    overflow-y: auto;
}

.select-asset ul li {
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select-asset ul li i {
    font-size: 18px;
    margin-right: 12px;
    color: #6785CF;
}

.tableContent {
    height: 489px;
}

.tableContent .icon-add {
    margin-left: 20px;
}

#authorizedBox .gd-tab-horizontal>div.gd-tab-content .gd-tab-item {
    padding: 0;
}

#authorizedBox .gd-tab-horizontal>ul.gd-tab-bar li.gd-tab-li:first-child {
    margin-left: 20px;
}

.assetDetailBox {
    height: 100%;
}

.auth-status-mark {
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 60px;
    border-radius: 2px;
    cursor: pointer;
}

.status-mark-wait {
    background: #fff3e5;
    color: #ffa025;
}

.status-mark-auth {
    background: #e1f0f0;
    color: #57cebc;
}

/*密码强度*/

.pw-strength {
    left: 110px;
    position: relative;
    margin-top: 5px;
    width: 128px;
    height: 20px;
}

.pw-bar {
    background: url(../images/pwd-1.png) no-repeat;
    height: 10px;
    position: absolute;
    top: 1px;
    left: 2px;
    overflow: hidden;
    width: 128px;
}

.pw-bar-on {
    background: url(../images/pwd-2.png) no-repeat;
    width: 0px;
    height: 10px;
    position: absolute;
    top: 1px;
    left: 2px;
    transition: width .5s ease-in;
    -moz-transition: width .5s ease-in;
    -webkit-transition: width .5s ease-in;
    -o-transition: width .5s ease-in;
}

.pw-weak .pw-defule {
    width: 0px;
}

.pw-weak .pw-bar-on {
    width: 43px;
}

.pw-medium .pw-bar-on {
    width: 85px;
}

.pw-strong .pw-bar-on {
    width: 128px;
}

.import-templete {
    float: left;
    width: 80px;
    height: 30px;
    background: #ddd;
    margin-left: 20px;
    color: #333;
    text-align: center;
    line-height: 30px;
    border-radius: 2px
}

.import-templete:hover {
    background: #29b6f6;
    color: #fff
}

.authorizedDetail {
    height: 100%;
}

#assetDetail .icon-arrow-right {
    color: #ccc;
    margin: 0 2px;
}