<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldencis.osa.asset.mapper.AssetCsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.goldencis.osa.asset.entity.AssetCs">
        <result column="asset_id" property="assetId" />
        <result column="publish" property="publish" />
        <result column="operation_tool" property="operationTool" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ac.asset_id, ac.publish, ac.operation_tool
    </sql>

    <select id="selectResourceDetailByAssetId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        ,
        a.name as publishName,
        sr.name as operationToolName
        from t_asset_cs ac
        left join t_asset a on ac.publish=a.id
        left join t_sso_rule sr on ac.operation_tool=sr.id
        where ac.asset_id=#{assetId}
    </select>
</mapper>
