<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <script src="/js/resource.js"></script> -->
    <!-- <link rel="stylesheet" href="/css/table.css"> -->
    <link rel="stylesheet" th:href="@{/gdui/css/gdui.min.css}" />
    <link rel="stylesheet" th:href="@{/css/validate.css}" />
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/user.css}" />
    <!-- <link rel="stylesheet" th:href="@{/css/gd_common.css}" /> -->
    <script th:src="@{/js/jquery.min.js}"></script>
</head>

<body>
    <!-- 此处是整体框架用，包括侧边栏和顶部 -->
    <div th:replace="common/topLeft :: topleftbar"></div>

    <div class="gd-right-content" id="contentDiv">
        <div class="contentL" id="departmentBox">
            <gd-tree :config='treeConfig' class="gd-tree-gray" id="departmentTree"></gd-tree>
        </div>
        <div class="contentR">
            <div class="userlistBox">
                <gd-toolbar :config="toolbarConfig"></gd-toolbar>
               <!--  <div class="table-box">
                    <gd-table :config="tableConfig"></gd-table>
                </div> -->
            </div>
        </div>
    </div>

    <script th:src="@{/js/vue.min.js}"></script>
    <script th:src="@{/gdui/js/gdui.min.js}"></script>
    <script th:src="@{/js/global.js}"></script>
    <!-- <script th:src="@{/js/user.js}"></script> -->

</body>
</html>