<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldencis.osa.system.mapper.AuditorOperatorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.goldencis.osa.system.entity.AuditorOperator">
        <id column="auditor_guid" property="auditorGuid" />
        <result column="operator_guid" property="operatorGuid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        auditor_guid, operator_guid
    </sql>

</mapper>
